TELEGRAM_TOKEN=your_bot_token_here
#WEBHOOK_URL=https://your-domain.com/webhook
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

ENVIRONMENT=dev # or prod
SHUTDOWN_TIMEOUT=10s
HTTP_ADDRESS=:2000